/* Start of General */
    :root {
        --primary-color: maroon;
        --secondary-color: gold;
        --tertiary-color: black;
        --quaternary-color: white;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        color: var(--primary-color);
        font-family: Arial, Helvetica, sans-serif;
        background-color: white
    }
/* End of General */

/* Start Header Styles */
    header {
        padding: 20px 25px;
        background-color: var(--primary-color);
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        position: sticky;
        top: 0;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-position: 80%;
        z-index: 9999;
    }

    header h1 {
        background-color: var(--secondary-color);
        font-weight: bold;
        text-align: center;
        width: 350px;
        position: relative;
        margin: 0;
        padding: 20px;
        border-radius: 10px;
        text-shadow: 0 0 10px rgba (100, 200, 250, 0.50);
    }

    header h1 a {
        text-decoration: none;
        color: var(--primary-color);
        font-size: 36px;
    }

    header nav {
        margin: 7px 0;
    }

    header nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        padding: 20px 10px;
        border-spacing: 10px;
    }

    header nav ul li a {
        padding: 10px 15px;
        font-weight: lighter;
        font-size: 30px;
        text-shadow: 0 0 10px rgba(0, 35, 88, 0.4);
        text-decoration-line: underline;
        color: var(--secondary-color);
    }

    header nav ul li a:hover {
        background: var(--primary-color);
        color: var(--quaternary-color);
        border-radius: 10px;
        text-shadow: none;
    }
/* End Header Styles */

/* Hero Section Styles */
    .hero {
        background-image:url(/Users/z076218/Desktop/projects/dave-prof/assets/images/Glacier.JPG);
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: flex-start;
        background-attachment: fixed;
        background-position: 80%;
    }

    .hero-text h2 {
        font-style: normal;
        font-size: 60px;
        text-align: left;
        color: var(--secondary-color);
    }

    .hero-text {
        width: 80%;
        text-align: left;
        margin: 3.5%;
        color: white;
        font-size: 24px;
        line-height: 1.5;
    }
/* End Hero Styles */

/* Start Footer Styles */
    footer {
        background: var(--primary-color);
        width: 100%;
        padding: 20px 50px;
        display: flex;
        justify-content: right;
        flex-wrap: wrap;
    }

    footer h2 {
        color: var(--secondary-color);
        font-size: 30px;
        margin: 0;
    }

    footer h3 {
        line-height: 1.5;
        text-align: right;
        color: white;
    }

    .footer-content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
/* End Footer Styles */

/* Start About Me Styles */
    section { 
        padding: 60px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .section-title {
        width: 25%;
        font-size: 35px;
        text-align: right;
        padding: 5px 5px;
    }

    .content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 75%;
        border-left: 5px solid var(--primary-color);
        margin: 10px 0;
        padding: 20px 20px;
    }

    .aboutme-image {
        flex: content;
    }

    .aboutme-image img {
        width: 150px;
        height: auto;
        border-radius: 15px;
        float: right;
    }
/* End About Me Styles*/

/* Start Works Sytles */
    .works {
        background: gold;
    }

    .content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .main-app {
        display: flex;
        flex-wrap: wrap;
        justify-content: right;
        margin: 10px;
        border: 5px solid var(--secondary-color);
        position: relative;
        width: auto;
        box-shadow: 0 0 10px rgb(0 0 0 50%);
    }

    .main-app img {
        display: inline-block;
        width: 100%;
        border-radius: 10px;
    }

    .app-detail {
        width: 100%;
        height:10px;
        position: absolute;
        text-align: center;
        left: 0px;
        bottom: 0px; 
        margin: 0;
        padding: 30px 5px;
        opacity: .75;
        background-color: white;
    }

    .app2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: right;
        margin: 10px;
        border: 5px solid var(--secondary-color);
        position: relative;
        float: right;
        width: 475px;
        box-shadow: 0 0 10px rgb(0 0 0 50%);
    }
    .app2 img {
        display: block;
        width: 75%;
        border-radius: 10px;
    }
    
    .app2-detail {
        width: 75%;
        height:10px;
        position: absolute;
        text-align: center;
        left: 0px;
        bottom: 0px; 
        margin: 0;
        padding: 30px 5px;
        opacity: .75;
        background-color: white;
    }
    
    .app img:hover{
        opacity: .75;
    }


    #app-1 {
        display: block;
        width: 100%;
        border-radius: 10px;
    }

    #app-2, #app-3, #app-4 {
        display: block;
        width: 45%;
        border-radius: 10px;        
    }

    .app h3 {
        position: relative;
        height: 5px;
    }



    .app-info {
        width: 100%;
        height:10px;
        position: absolute;
        text-align: center;
        left: 0px;
        bottom: 0px; 
        margin: 0;
        padding: 30px 5px;
        opacity: .75;
        background-color: white;
    }
/* End of Work Sytles */

/* Start Contact Style */
    #contactinfo ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        list-style: none;
    }

    #contactinfo ul li {
        display: flex;
        flex-wrap: wrap;
        padding: 10px 20px;
        font-weight: lighter;
        text-align: center;
        font-size: 1.55vw;
        border: 4px solid var(--primary-color);
        border-radius: 10px;
    }

    #contactinfo li{
        text-decoration: none;
        margin: 10px 50px 10px 0;
    }

    #contactinfo a {
        text-decoration: none;
        color: var(--primary-color)
    }

    #contactinfo a:hover {
        color: var(--secondary-color);
        border-radius: 15px;
/* End Contact Sytle */